.header {
  display: flex;
  /* justify-content: space-between; */
  background-color: transparent;
  background: none;
  position: fixed;
  top: 0;
  width: 100vw;
  margin: 15px;
  z-index: 100;
}
.header__logo {
  height: 24px;
  width: 120px;
  margin-top: 7px;
  cursor: pointer;
}
.header__logo > img {
  height: 14px;
  width: 100px;
}
.header__center {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-left: 80px;
}
.header__center > p {
  margin: 0 10px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.header__right {
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
.header__right > p {
  /* margin: 10px; */
  margin-right: 15px;
  font-weight: 600;
}
.header__right > .MuiSvgIcon-root {
  /* margin-right: 32px; */
  padding-right: 42px;
}
