.item {
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  scroll-snap-align: start;
}

.item__container {
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__text {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 34px;
  font-weight: 600;
  margin-top: 20%;
  color: #393c41;
  align-items: center;
}

.item__textDesc {
  font-weight: 400;
  font-size: 20px;
  color: rgb(85, 83, 83);
}

.item__lower {
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
}

.item__buttons {
  display: flex;
}

.item__expand {
  color: white;
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
